#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

#tasks div {
  border: 3px solid rgb(102, 132, 197);
  background-color: rgba(181, 211, 250, 0.87);
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}
#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}